# OS / Editor
.agent-os
.cursor
.vscode
.DS_Store
._*
.history/
.idea/

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.venv/
.env
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Data & Artifacts
datasets/
combined_datasets/
misc-datasets/
old*
old *
snake_draft_datasets/
results/
plots/
# docs ignored
#docs/
my_ff_teams/

# Outputs
*.tsv

# Track Agent OS product docs
!.agent-os/product/
